.subscription {
  .strikethrough {
    text-decoration: line-through;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2.2857142857em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 14px;
  }

  .wrapper {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
  }

  h1 {
    text-align: center;
  }

  .container {
    display: flex;
    margin: 20px auto;
  }

  .pricingCard {
    background: #fff;
    border: none;
    border-radius: 8px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  }

  .pricingCard h2 {
    margin-bottom: 0;
  }

  .title {
    background: #fff;
    padding: 10px 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.7em;
  }

  .bttn {
    display: block;
    text-align: center;
    position: relative;
    margin: 20px 25px 0;
    background: none;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bold;
  }

  .pricingCard.halfYearly {
    .title {
      border-top: 6px solid #1abc9c;
    }
    .bttn {
      border: 3px solid #1abc9c;
      color: #1abc9c;
      &:hover {
        background: #1abc9c;
        color: #fff;
      }
    }
  }
  .pricingCard.monthly {
    .title {
      border-top: 6px solid #3498db;
    }
    .bttn {
      border: 3px solid #3498db;
      color: #3498db;
      &:hover {
        background: #3498db;
        color: #fff;
      }
    }
  }
  .pricingCard.yearly {
    .title {
      border-top: 6px solid #9b59b6;
    }
    .bttn {
      border: 3px solid #9b59b6;
      color: #9b59b6;
      &:hover {
        background: #9b59b6;
        color: #fff;
      }
    }
  }

  .pricingCard .price-overview {
    margin-top: 20px;
    font-weight: bold;
  }
  .price .price__currency {
    font-size: 1.7em;
    padding-right: 3px;
  }

  .price .price__dollar {
    font-size: 1.7em;
  }

  .price .price__cent {
    font-size: 1em;
  }

  .card {
    background: #eceef1;
    padding: 10px 25px;
    border: none;
  }

  .price-desc {
    font-size: 0.7em;
    margin-top: 0;
  }

  .toggle-container {
    text-align: center;
  }
}
